{% extends 'layout.html' %}

{% block body %}
  <h1>About us</h1>
  <p>Howdy,<br><br>
    Our team would like to thank you for taking the time to take a look at our website. We devoted our time and effort
    to try and make this as nice as we could. It was driven by our passion for sports and competitive bracket building.
    <br><br>
    Thanks and Gig'em.

    <br><br>
    <h3>Oscar:<br></h3>
    <p>
      Oscar Reyes, he is from Honduras. A country in Central America, not Africa. 23 years old, curious and hard working.
      After college he will be either staying in the US or moving to Canada. He ennjoys cybersecurity and would rather
      not do webdesign ever again. On his free time he bikes and  plays sports.
    </p>

    <h3>Allen:<br></h3>
    <p>
      Allen Dewberry is a 22 year old Christian from League City Texas. He is happily married to his wife of almost 2 years,
      Erin Dewberry. After college, Allen will be working with the missionary agency Reliant to reach college students. In
      his free time he loves woodworking and playing with his 4 year old pup Buttercup.
    </p>
    <h3>Evan:<br></h3>
    <p>
      Evan Bakkal is a Computer Science major from Rockwall, Texas but more importantly he is a loud and proud member
      of the Fightin' Texas Aggie Class of 2017. He will hopefully graduate in December of 2018 and find a job
      relatively quickly.

    </p>


  </p>
{% endblock %}
